.btn-form {
  position: absolute;
  right: 0;
  height: 100%;
  width: 40px;
  z-index: 5;
  border: none;
  border-radius: 0!important;
}

.btn-msg {
  padding: 25px!important;
  border: none!important;
  border-radius: 0!important;
}
