a.nav-link {
  color: #fff;
}

a.nav-link:hover {
  color: $c-yellow;

}

.logos {
  width: 350px;
  height: 50px;
  //mobile
  @media #{$m-s} {
    width: 200px;
    height: 30px;
  }
}

.header {
  padding: 43px 0 21px 0;
  @include border-bluenavy-top;
}

.img-banner {
  object-fit: cover;
  width: 100%;
  height: 650px;

  @media #{$m-s} {
    height: 350px;
  }
}

.slick-item {
  position: relative;
  height: 650px;
}

.slick {
  @media #{$m-s} {
    height: 350px;
  } 
}

.banner-description {
  position: absolute;
  z-index: 10;
  top: 200px;
  left: 150px;
  color: #fff;

  @media #{$m-s} {
    top: 5px;
    left: 0;
  }

  > h1 {
    font-size: 75px;

    @media #{$m-s} {
      font-size: 20px;
    }
  }
}

.banner-price {
  font-size: 50px;
  position: relative;

  @media #{$m-s} {
    font-size: 20px;
  }
}

.banner-price span {
  position: relative;
}

.banner-price span::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 6px;
  bottom: -20px;
  background-color: $c-yellow;
}

.banner-desc {
  font-size: 30px;

  @media #{$m-s} {
    font-size: 20px;
  }
}
