a.nav-link {
  color: #fff;
}

a.nav-link:hover {
  color: $c-yellow;
}

.header {
  padding: 43px 0 21px 0;
  @include border-bluenavy-top;
}

.img-banner {
  object-fit: cover;
  width: 100%;
  height: 650px;
}

.slick-item {
  position: relative;
  height: 650px;
}

.banner-description {
  position: absolute;
  z-index: 10;
  top: 200px;
  left: 150px;
  color: #fff;

  > h1 {
    font-size: 75px;
  }
}

.banner-price {
  font-size: 50px;
  position: relative;
}

.banner-price span {
  position: relative;
}

.banner-price span::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 6px;
  bottom: -20px;
  background-color: $c-yellow;
}

.banner-desc {
  font-size: 30px;
}
