.nav-item a {
  font-size: 16px;
}

.nav-group {
  //mobile
  @media #{$m-s} {
    display: none!important;
  }
  @media #{$m-l} {
    display: none!important;
  }
}

.nav {
  @media #{$m-s} {
    flex-wrap: wrap!important;
  }
}
