.article-fb {
  position: relative;
  margin-bottom: 75px;
  background-color: $c-lighgrey;
}

.article-fb::before {
  content: '';
  height: 100%;
  width: 50%;
  position: absolute;
  background-color: $c-bluenavy;
}

.article-content-left {
 padding: 75px 55px 75px 0;
 z-index: 2;
}

.article-content-right {
  padding: 75px 0 75px 55px;
  z-index: 2;
}

.article-desc {
  font-size: 16px;
}
