.card-tahiti {
  padding: 23px;
  //border-top: 8px solid $c-bluenavy;
  background-color: $c-white;
  margin-bottom: 25px;

  @media #{$m-s} {
    font-size: 12px;
  }
}

.img-card {
  object-fit: cover;
  height: 145px;
  width: 400px;
}

.icone-sm {
  width: 20px;
}

.number-phone {
  font-size: 25px;
}
.card-content {
  padding-left: 40px;
}

.card-title {
  color: $c-bluebold;
}

a.card-link-tahiti {
  cursor: pointer;
}

a.card-link-tahiti:hover {
  text-decoration: none;
    .card-tahiti {
      box-shadow: 0 10px 6px -6px #777;
    }
  
}

.card-map-contact {
  text-align: center;

  @media #{$m-s} {
    display: flex;
    flex-direction: row;
  }
}

.card-place , .card-contact {
  padding-top: 25px;
  padding-bottom: 40px;

  @media #{$m-s} {
    width: 100%;
    padding: 10px 0;
  }
}

.card-place {
  background-color: $c-bluenavy;
}

.card-contact {
  background-color: $c-white;
}

.card-image {
  width: 400px;
}
