.contact {
  margin-bottom: 40px;
  padding-top: 20px;
  position: relative;

  @media #{$m-s} {
    margin-bottom: 15px;
  }
}

.flower-1 {
  position: absolute;

  @media #{$m-xxl} {
    width: 500px;
    right: -205px;
    transform: rotate(125deg);
  }

  @media #{$m-3xl} {
    width: 500px;
    right: -405px;
    transform: rotate(125deg);
  }

}

.flower-2 {
  position: absolute;
  
  @media #{$m-xxl} {
    width: 500px;
    top: -120px;
    left: -405px;
    transform: rotate(250deg);
  }

  @media #{$m-3xl} {
    width: 500px;
    top: -130px;
    left: -405px;
    transform: rotate(250deg);
  }
}

.contact-form input.form-control {
  height: 45px;

  @media #{$m-s} {
    height: 40px;
  }
}

.contact-form textarea.form-control,
.contact-form input.form-control,
.contact-form select.form-control {
  margin-bottom: 25px; 
  background-color: #f3f3f3;
  border: none;
  border-radius: 0;
  font-size: 16px;
}

.contact-form select.form-control {
  height: 45px !important;

  @media #{$m-s} {
    height: 40px!important;
  }
}

.contact-form select.form-control::before {
  content: '';
  position: absolute;
  right: 0;
  width: 15px;
  height: 100%;
  background-color: $c-bluenavy;
  z-index: 15;
}

.select-button-group {
  position: relative;
}

.icone-arrow-down {
  width: 15px;
}

.info-check {
  margin-right: 10px;
}

.info-message {
  font-size: 20px;

  @media #{$m-s} {
    font-size: 14px;
  }
}

.info-message-content {
  margin-bottom: 10px;
}

.g-recaptcha {
  margin-right: 15px;
  display: inline-block;
}

.champ-obligatoire {
  margin-bottom: 10px;
}
