.img-product-size {
  height: 325px;
  object-fit: cover;
}

.offre-moment {
  margin-bottom: 40px;
  padding-top: 20px;
}

.offre-moment .slick-next {
  right: 0!important;
  margin-top: 60px;
}

.offre-moment .slick-prev {
  margin-top: 60px;
}

.offre-moment .slick-prev::before , .offre-moment .slick-next::before {
  font-size: 50px;
  color: $c-bluenavy;
}
.offre-moment  

.product-title,
.product-price {
  font-size: 28px;
 
}

a.product-link:hover {
  text-decoration: none;
}

.product-title {
  color: $c-bluebold;
  margin-bottom: 30px;
}

.product-price {
  color: $c-red;
  border-bottom: 6px solid $c-yellow;
  margin-top: 30px;
  text-align: center;
}

.products-list {
  padding-bottom: 40px;
}
