.bg-white {
  background-color: $c-white;
}

.bg-bluenavy {
  background-color: $c-bluenavy;
}

.bg-bluebold {
  background-color: $c-bluebold;
}

.bg-red {
  background-color: $c-red;
}

.bg-yellow {
  background-color: $c-yellow;
}

.bg-lightgrey {
  background-color: $c-lighgrey;
}
