.bg-white {
  background-color: $c-white;
}

.color-bluenavy {
  color: $c-bluenavy;
}

.color-bluebold {
  color: $c-bluebold;
}

.color-red {
  color: $c-red;
}

.color-yellow {
  color: $c-yellow;
}

.color-white {
  color: $c-white;
}
