.heading {
  position: relative;
  margin-bottom: 50px;
  font-size: 38px;

  @media #{$m-s} {
    font-size: 18px;
    margin-bottom: 30px;
  }
}

.heading-bordered {
  @include style-bordered(absolute);
}

.heading-bordered-30 {
  @include style-bordered-size(30px);
}

.heading-bordered-bluenavy {
  @include style-bordered-color('c-bluenavy');
}

.heading-bordered-white {
  @include style-bordered-color('c-white');
}

.subHeading {
  font-size: 40px;
  color: #4d4d4d;
  line-height: 1.1;

  @media #{$m-s} {
    font-size: 16px;
    margin-bottom: 15px;
    margin-top: 15px;
  }
}
