mixin articlefb
  +card({
      items : [{
        link: '#',
        srcimg: '../img/slider/slider1.jpg',
        alt:'article1',
        title:'#Lorem ipsum',
        desc:'ed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo.',
        date:'il y 3 jours'
      },{
        link: '#',
        srcimg: '../img/slider/slider1.jpg',
        alt:'article1',
        title:'#Lorem ipsum',
        desc:'ed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo.',
        date:'il y 3 jours'
      },
      {
        link: '#',
        srcimg: '../img/slider/slider2.jpg',
        alt:'article1',
        title:'#Lorem ipsum',
        desc:'ed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo.',
        date:'il y 3 jours'
      },
      {
        link: '#',
        srcimg: '../img/slider/slider2.jpg',
        alt:'article1',
        title:'#Lorem ipsum',
        desc:'ed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo.',
        date:'il y 3 jours'
      },
      {
        link: '#',
        srcimg: '../img/slider/slider2.jpg',
        alt:'article1',
        title:'#Lorem ipsum',
        desc:'ed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo.',
        date:'il y 3 jours'
      },
      {
        link: '#',
        srcimg: '../img/slider/slider2.jpg',
        alt:'article1',
        title:'#Lorem ipsum',
        desc:'ed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo.',
        date:'il y 3 jours'
      }
      ]
    })
