mixin card-map-contact
  .card-map-contact
    .card-place
      p
        img.icone-sm.icone-marker(src='../img/icons/marker.svg' alt='marker')
      p
        strong.text-uppercase face tony
      p
        i Face au McDonald de Papeete
      p
        ul
          li
            strong Lundi à vendredi 08h00 à 17h00
            span  08h00 à 17h00
          li
            strong Samedi
            span  08h00 à 17h00

    .card-contact
      p
        img.icone-sm.icone-marker(src='../img/icons/phone-blue.svg' alt='marker')
      p.d-flex.flex-column
        span Contactez l'equipe Tahiti phone au
        strong.number-phone 39 50*
      p
        ul
          li
            strong lundi au jeudi
            span  08h00 à 17h00
          li
            strong Vendredi
            span  08h00 à 17h00
          li
            strong Samedi
            span  08h00 à 17h00
