mixin card-map-contact
  .card-map-contact
    .card-place
      p
        span.icon.icon-place
      p
        span face tony
      p
        ul
          li
            strong lundi a vendredi
            span 08h00 a 17h00
          li
            strong lundi a vendredi
            span 08h00 a 17h00

    .card-contact
      p
        span.icon.icon-hone
      p
        span Contactez l'equipe Tahiti phone au
        span 39 50*
      p
        ul
          li
            strong lundi a vendredi
            span 08h00 a 17h00
          li
            strong lundi a vendredi
            span 08h00 a 17h00
