include card-map-contact
include card-map-image

mixin content-tab(options)
  - var options = options || {}
  - var type = options.type || 'tahiti' 
  .row
    .col-lg-4.col-sm-12
      +card-map-contact
    .col-lg-8.col-sm-12.d-flex.align-items-center.justify-content-center
      +card-map-image({
        type: type
      })
  
