include card-map-contact
include card-map-image

mixin content-tab(options)
  - var options = options || {}
  - var type = options.type || 'tahiti' 
  .row.map-tahiti
    .col-sm-4.col-sm-pull-6.map-info
      +card-map-contact
    .col-sm-8.col-sm-push-6.d-flex.align-items-center.justify-content-center.map-image
      +card-map-image({
        type: type
      })
  
