include nav-tab
include nav-tab-content
mixin map
  .tahiti-section#nous_trouver.row.section-wrapper.map(data-section-name="nous_trouver") 
    .map-content.col-lg-12
      .map-header.container
        .row
          .col-lg-12
            h1#nous_trouver.heading.heading-bordered.heading-bordered-30.heading-bordered-white.color-white Nous trouver
        .row
          .col-lg-10.col-sm-12
            span.subHeading  Vous souhaitez avoir plus d’informations sur nos produits, services et accessoires ?
      .map-carte
        +nav-tab({
          items : [
            {
              class: 'nav-link active',
              href: 'Tahiti',
              name: 'Tahiti'      
          },
          {
              class: 'nav-link',
              href: 'Moorea',
              name: 'Moorea'
          },
          {
              class: 'nav-link',
              href: 'BoraBora',
              name: 'Bora Bora'
          },
          {
              class: 'nav-link',
              href: 'Raiatea',
              name: 'Raiatea'
          }

          ]
        })
        +nav-tab-content
        