extends layout/base
include components/articlefb
include components/map
include components/contact
include components/product
block page-title
  title Tahiti phone
block vars
  - var bodyClasses = 'home';
block page-content
  main.main-content
      #les_offres.row.section-wrapper.offre-moment
        .col-12
          .container
            h1.heading.heading-bordered.heading-bordered-30.heading-bordered-bluenavy les offres du moments
            .products-list(data-slick='{"slidesToShow": 3, "slidesToScroll": 3}',style='display:block; width: 100%;')
              +product({
                items : [
                  {
                    name: 'Alcatel',
                    src: '../img/product/product1.png',
                    alt: 'alcatel',
                    price: '00 000'
                  },
                  {
                    name: 'Alcatel',
                    src: '../img/product/product4.png',
                    alt: 'alcatel',
                    price: '00 000'
                  },
                  {
                    name: 'Alcatel',
                    src: '../img/product/product3.png',
                    alt: 'alcatel',
                    price: '00 000'
                  },
                  {
                    name: 'Alcatel',
                    src: '../img/product/product1.png',
                    alt: 'alcatel',
                    price: '00 000'
                  },
                  {
                    name: 'Alcatel',
                    src: '../img/product/product4.png',
                    alt: 'alcatel',
                    price: '00 000'
                  },
                  {
                    name: 'Alcatel',
                    src: '../img/product/product3.png',
                    alt: 'alcatel',
                    price: '00 000'
                  }
                  
                ]
              })
      #actualites.row.section-wrapper.article-fb
        .col-12
          .container
            .row
              .col-6.color-white
                .article-content-left        
                  h1.heading.heading-bordered.heading-bordered-30.heading-bordered-white la Ora Na !
                  p
                    span.subHeading  Revendeur de téléphonie mobile a Tahiti et ses iles
                  p
                    span.article-desc At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti.At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditii iusto odio dignissimos ducimus qui blanditiis sentium voluptatum deleniti atque corrupti.At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti.At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti.
              .col-6
                .article-content-right
                  h1.heading.heading-bordered.heading-bordered-30.heading-bordered-bluenavy Facebook News
                  +articlefb
      #nous_trouver.row.section-wrapper.map
        +map
      .row.section-wrapper.contact
        .col-12
          .container
            h1#contact.heading.heading-bordered.heading-bordered-30.heading-bordered-bluenavy Nous contacter
            .champ-obligatoire
              i *champs obligatoire
            +contact
           

        

