footer.row.footer.bg-bluebold
  .container.footer__content
    .col-lg-6.col-sm-12
      .row.block-footer-left
        .col-lg-6.color-white.d-flex.flex-column.justify-content-between.block-contactez-nous
          h4.color-bluenavy contactez-nous
          .block-phone
            img.icone-phone(src='../img/icons/phone.svg')
            span 39 50*
          .bloc-contact-footer
            span #PROX-I - 2017
        .col-lg-6.color-white.d-flex.flex-column.justify-content-between.block-suivez-nous
          h4.color-bluenavy suivez-nous
          .block-social.d-flex.align-items-center
            img.icone-fb(src='../img/social/fb.png')
            span.color-white Sur Facebook
          .block-suivi-footer.d-flex.flex-column
            span
              span Lundi au jeudi
              span 7h30 a 17h 30
            span
              span Vendredi
              span 7h30 a 17h 30
            span
              span Samedi
              span 08h30 a 12h 00
    .col-lg-6.col-sm-12.footer-logos
      img(src='../img/logos.png' alt='logos')

div(class='modal modal-tahiti fade' id='exampleModal' tabindex='-1' role='dialog' aria-labelledby='exampleModalLabel' aria-hidden='true')
  div.modal-dialog.modal-lg(role='product')
    div.modal-content.modal-content-tahiti
      div.modal-header
        button.close(type='button' data-dismiss='modal' aria-label='Close')
          span(aria-hidden='true') &times;    
      div.modal-body 
        .modal-product-content.d-flex
          .modal-image
            img(src='../img/product/product1.png')
          .modal-desc-content
            .modal-title.color-bluebold
              strong.title-product-strong Alcatel
              span  Idol 25
            .modal-desc
              span 
               | lorem ipsum dorete ipusm morata luuqum fatat ti elapse yurum deterum anore 
               | lorem ipsum dorete ipusm morata luuqum fatat ti elapse yurum deterum anore 
               | lorem ipsum dorete ipusm morata luuqum fatat ti elapse yurum deterum anore 
               | lorem ipsum dorete ipusm morata luuqum fatat ti elapse yurum deterum anore 
            .modal-price.d-flex.flex-column.align-items-end
              .price-product
                strong 00 000
                span  TTC
              a.link-product(href='#') En savoir plus
      

script(src="https://www.google.com/recaptcha/api.js" async defer)

