//include ../components/modal
footer.footer.bg-bluebold.tahiti-section(data-section-name='footer')
  .container
    .row
      .col-lg-6.col-md-12.col-sm-12
        .row.block-footer-left
          .col-lg-6.col-md-6.col-sm-12.color-white.d-flex.flex-column.justify-content-between.block-contactez-nous
            h4.color-bluenavy contactez-nous
            .block-phone
              img.icone-phone(src='../img/icons/phone.svg')
              span 39 50*
            .bloc-contact-footer
              span #PROX-I - 2017
          .col-lg-6.col-md-6.col-sm-12.color-white.d-flex.flex-column.justify-content-between.block-suivez-nous
            h4.color-bluenavy suivez-nous
            .block-social.d-flex.align-items-center
              img.icone-fb(src='../img/social/fb.png')
              span.color-white Sur Facebook
            .block-suivi-footer.d-flex.flex-column
              span
                span Lundi au jeudi
                span 7h30 a 17h 30
              span
                span Vendredi
                span 7h30 a 17h 30
              span
                span Samedi
                span 08h30 a 12h 00
      .col-lg-6.col-md-12.col-sm-12.footer-logos
        img.img-footer(src='../img/logos.png' alt='logos')

.modal.fade#exampleModal(tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true")
  .modal-dialog(role="document")
    .modal-content.modal-content-tahiti
      .modal-header
        h5.modal-title#exampleModalLongTitle Product
        button(type="button" class="close" data-dismiss="modal" aria-label="Close")
          span(aria-hidden="true") &times;
      .modal-body
        .row 
          .col-lg-3.modal-img
            img.img-modal(src='../img/product/product1.png')
          .col-lg-8
            .modal-title.color-bluebold
              strong.title-product-strong Alcatel
              span  Idol 25
            .modal-desc
              span 
                | lorem ipsum dorete ipusm morata luuqum fatat ti elapse yurum deterum anore 
                | lorem ipsum dorete ipusm morata luuqum fatat ti elapse yurum deterum anore 
                | lorem ipsum dorete ipusm morata luuqum fatat ti elapse yurum deterum anore 
                | lorem ipsum dorete ipusm morata luuqum fatat ti elapse yurum deterum anore 
            .modal-price.d-flex.flex-column.align-items-end
              .price-product
                strong 00 000
                span  TTC
                a.link-product(href='#')
      .modal-footer
        button(type="button" class="btn btn-secondary" data-dismiss="modal") Close
        button(type="button" class="btn btn-primary") Save changes



