footer.row.footer.bg-bluebold
  .container
    .footer__content
      .row
        .col-6
          .row.block-footer-left
            .col-6.color-white.d-flex.flex-column.justify-content-between
              h4.color-bluenavy contactez-nous
              .block-phone
                img.icone-phone(src='../img/icons/phone.svg')
                span 39 50*
              .bloc-contact-footer
                span #PROX-I - 2017
            .col-6.color-white.d-flex.flex-column.justify-content-between
              h4.color-bluenavy suivez-nous
              .bolck-social.d-flex.align-items-center
                img.icone-fb(src='../img/social/fb.png')
                span.color-white Sur Facebook
              .block-suivi-footer.d-flex.flex-column
                span
                  span Lundi au jeudi
                  span 7h30 a 17h 30
                span
                  span Vendredi
                  span 7h30 a 17h 30
                span
                  span Samedi
                  span 08h30 a 12h 00
        .col-6.d-flex.align-items-end.justify-content-end
          .row
             img(src='../img/logos.png' alt='logos')
script(src="https://www.google.com/recaptcha/api.js" async defer)
