include nav.pug
include ../components/slider.pug
include ../components/card.pug
include link
header
  #nav-icon1
    span
    span
    span
  nav#cbp-spmenu-s2.cbp-spmenu.cbp-spmenu-vertical.cbp-spmenu-right.d-flex.flex-column.justify-content-center
    +link('#', 'acceuil')(class='is-active text-uppercase')
    +link('#', 'tahiti phone')(class='text-uppercase')
    +link('#', 'nos produits')(class='text-uppercase')
    +link('#', 'nos boutiques')(class='text-uppercase')
    +link('#', 'conatctez-nous')(class='text-uppercase')
  .row.bg-bluebold.header
    .col-5.d-flex.justify-content-center
      img(src='../img/logos.png' alt='logos')
    .col-7
      +nav({classtype:'nav justify-content-center'})
  .row
    .carousel.slide#carouselExampleSlidesOnly(data-ride='carousel')
      .carousel-inner(role='listbox')
        .carousel-item(active)
          img(class='d-block img-fluid' src='../img/banner/fondbanner1.jpg' alt='First slide')
        .carousel-item
          img(class='d-block img-fluid' src='../img/banner/fondbanner2.jpg' alt='second slide')
  
    
    
