include nav.pug
include ../components/slider.pug
include ../components/card.pug
include link
header
  #nav-icon1
    span
    span
    span
  nav#cbp-spmenu-s2.cbp-spmenu.cbp-spmenu-vertical.cbp-spmenu-right.d-flex.flex-column.justify-content-center
    +link('#', 'acceuil')(class='is-active text-uppercase')
    +link('#', 'tahiti phone')(class='text-uppercase')
    +link('#', 'nos produits')(class='text-uppercase')
    +link('#', 'nos boutiques')(class='text-uppercase')
    +link('#', 'conatctez-nous')(class='text-uppercase')
  .row.bg-bluebold.header
    .col-5.d-flex.justify-content-center
      img(src='../img/logos.png' alt='logos')
    .col-7
      +nav({classtype:'nav justify-content-center'})
  .row
    .slick.d-flex.justify-content-center(data-slick='{"slidesToShow": 1, "slidesToScroll": 1}',style='display:block; width: 100%;')
      .slick-item 
        h3 1
      .slick-item 
        h3 2
      .slick-item 
        h3 3
        .slick-item 
        h3 4
      .slick-item 
        h3 5
      .slick-item 
        h3 6
     
